@model Projekt_ASP.Models.Login

    <div class="d-flex align-items-center justify-content-center">
        <form asp-action="Login" method="post" class="border border-info rounded pl-xl-4 pr-xl-4 pt-2 pb-2">
            <div>
                <h2 class="text-center">Login</h2><hr />    
            </div>
            <div class="form-group d-flex flex-column">
                <label asp-for="Name">Login</label>
                <input asp-for="Name" />
            </div>
            <div class="form-group d-flex flex-column">
                <label asp-for="Password">Hasło</label>
                <input asp-for="Password" />
            </div>
            <div class="form-group d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Login</button>
                @*<a class="btn btn-outline-success" type="button" asp-controller="AccountController" asp-action="Register">Register</a>*@
            </div>
        </form>
    </div>
