@model Projekt_ASP.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>

<h3>Czy napewno chcesz usunąć tę kategorię?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCategory)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróc do listy</a>
    </form>
</div>
