@model Projekt_ASP.Models.Book

@{
    ViewData["Title"] = "Add";
}

<div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddNewBook" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Podaj nazwe książki:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label">Podaj autora:</label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categories" class="control-label">Wybierz kategorie książki</label>
                    <select asp-for="Categories" asp-items="Html.GetEnumSelectList<Category.BookCategory>()">
                        <option selected="selected" value="">Wybierz kategorie</option>
                    </select>
                    <span asp-validation-for="Categories" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PageCount" class="control-label">Podaj liczbe stron:</label>
                    <input asp-for="PageCount" class="form-control" />
                    <span asp-validation-for="PageCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label">Podaj date wydania książki:</label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <button class="btn btn-primary">Dodaj</button>
                    <a class="ml-2" asp-action="BookList">Wróc do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>
