@model Projekt_ASP.Models.AddBook
@using Projekt_ASP.Enums

@{
    ViewData["Title"] = "Add";

    var category = (List<Category>)ViewData["Category"];
}

<div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddNewBook" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="selectpicker" data-live-search="true">
                        <option value="">-- Nieokreślona --</option>
                        @{ foreach (var item in category)
                            {
                                <option value="@item.CategoryId">@item.BookCategory</option>
                            }}
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PageCount" class="control-label"></label>
                    <input asp-for="PageCount" class="form-control" />
                    <span asp-validation-for="PageCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <button class="btn btn-primary">Dodaj</button>
                    <a class="ml-2" asp-action="BookList">Wróc do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>*@
